.line {
display:block;
border-bottom:.1rem solid #000;
margin-top: .4rem;
border-bottom-width: medium;
width: 150px;
}

.recipe-title {
    max-width: 400px;
    text-align: center;
}

.recipe-title-container,
.recipe-image-container,
.instruction-container
 {
    background-color:#fff;
}

.ingredients-container {
    background-color:#fff;
    min-height: 300px;
}

.recipe-image {
    max-height:250px;
}

.custom-button {
    border: none;
    color: #fff;
    padding: 15px 45px;
    text-transform: uppercase;
    border-radius: 30px;
}

